.chart {
  background-color: black;
  border-radius: 10px; 
  padding: 60px;

  @media screen and (max-width: 768px) {
    padding: 30px;
    
  }

  @media screen and (max-width: 480px) {
    padding: 20px;
  }
}