.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selection {
  margin-bottom: 10px;
}

p {
  color: #333;
  font-size: 1.5em;
  font-family: 'monospace';
}